<div class="col-md-6 col-md-offset-3">
	<div class="col-md-12">
		<h3 class="underlined"><%= @snippet.title %></h3>
		<div class="language"><%= @snippet.language %></div>
		<a href="/users/<%= @snippet.user.id %>/<%= @snippet.user.username %>"><%= @snippet.user.username %></a>
		<p><%= @snippet.description %></p>
		<pre><%= @snippet.code %></pre>
	</div>
	<div class="col-md-12">
		<h3 class="underlined">Your Refactor</h3>
		<%= render 'refactor/create' %>
	</div>
	<div class="col-md-12">
		<h3 class="underlined">Refactors</h3>
		<% if @snippet.refactors.present? %>
			<% @snippet.refactors.each do |refactor| %>
				<div class="refactor-container">
					<a href="/users/<%= refactor.user.id %>/<%= refactor.user.username %>"><%= refactor.user.username %></a>
					<pre><%= refactor.code %></pre>
					<div class="col-md-12">
						<div class="row">
							<form action="/refactors/<%= refactor.id %>/upvote" method="POST">
								<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
								<input type="submit" value="+" class="upvote <%= refactor.liked_by.include?(current_user.id) ? 'upvoted' : '' %>"/>
							</form>
							<p><%= refactor.liked_by.count %> upvotes</p>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			<p>No refactors yet... try submitting one.</p>
		<% end %>
	</div>
</div>