<div class="col-md-8 col-md-offset-1">
	<% @users.each do |user| %>
		<div class="col-md-3 user-preview">
			<p><%= user.first_name %> <%= user.last_name %></p>
			<a href="/users/<%= user.id %>/<%= user.username %>"><%= user.username %></a>
		</div>
	<% end %>
</div>