<%= current_user.first_name %> <%= current_user.last_name %> - <%= current_user.username %>
</br>
<%= current_user.email %>

<h1>Snippets</h1>
<ul>
	<% current_user.snippets.each do |snippet| %>
		<li>
			<a href="/snippets/<%= snippet.id %>" ><%= snippet.title %></a>
		</li>
	<% end %>
</ul>

<h1>Refactors</h1>
<% current_user.refactors.each do |refactor| %>
	<li>
		<pre><%= refactor.code %></pre>
	</li>
<% end %>