<div class="col-md-10 col-md-offset-1">
	<div class="col-md-4">
		<h3 class="underlined"><%= current_user.first_name %> <%= current_user.last_name %></h3>
		<%= current_user.username %>
		</br>
		<%= current_user.email %>
	</div>
	<div class="col-md-4">
		<h3 class="underlined">Snippets</h3>
		<ul>
			<% current_user.snippets.reverse_each do |snippet| %>
				<li>
					<a href="/snippets/<%= snippet.id %>/<%= snippet.slug %>" ><%= snippet.title %></a>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-4">
		<h3 class="underlined">Refactors</h3>
		<% current_user.refactors.each do |refactor| %>
			<li>
				<pre><%= refactor.code %></pre>
			</li>
		<% end %>
	</div>
</div>