<%= @user.first_name %> <%= @user.last_name %> - <%= @user.username %>
</br>
<%= @user.email %>

<h1>Snippets</h1>
<ul>
	<% @user.snippets.reverse_each do |snippet| %>
		<li>
			<a href="/snippets/<%= snippet.id %>/<%= snippet.slug %>" ><%= snippet.title %></a>
		</li>
	<% end %>
</ul>

<h1>Refactors</h1>
<% @user.refactors.each do |refactor| %>
	<li>
		<pre><%= refactor.code %></pre>
	</li>
<% end %>