<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-4 profile-container">
			<h3 class="underlined"><%= @user.first_name %> <%= @user.last_name %></h3>
			<div class="row">
				<img src="<%= @user.profile_picture %>" class="col-md-4" />
				<div class="col-md-8">
					<p><span class="username"><%= @user.username %></span> <span class="email">(<%= @user.email %></span>)</p>
					<% if @user.website %>
						<a href="<%= @user.website %>"><%= @user.website %></a>
					<% end %>
					<p class="bio"><%= @user.bio || "No bio present" %></p>
				</div>
			</div>
			<% if @user.id == current_user.id %>
				<a href="/profile/edit">Edit Your Profile</a>
			<% end %>
		</div>
		<div class="col-md-4">
			<h3 class="underlined">Snippets</h3>
			<div class="row">
				<% @user.snippets.reverse_each do |snippet| %>
					<div class="col-md-12">
						<a href="/snippets/<%= snippet.id %>/<%= snippet.slug %>" ><%= snippet.title %></a>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-4">
			<h3 class="underlined">Refactors</h3>
			<div class="row">
				<% @user.refactors.each do |refactor| %>
					<div class="col-md-12">
						<pre><%= refactor.code %></pre>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>