<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-4">
			<h3 class="underlined"><%= @user.first_name %> <%= @user.last_name %></h3>
			<%= @user.username %>
			</br>
			<%= @user.email %>
		</div>
		<div class="col-md-4">
			<h3 class="underlined">Snippets</h3>
			<div class="row">
				<% @user.snippets.reverse_each do |snippet| %>
					<div class="col-md-12">
						<a href="/snippets/<%= snippet.id %>/<%= snippet.slug %>" ><%= snippet.title %></a>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-4">
			<h3 class="underlined">Refactors</h3>
			<div class="row">
				<% @user.refactors.each do |refactor| %>
					<div class="col-md-12">
						<pre><%= refactor.code %></pre>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>